In [1]:
import pandas as pd
import os

In [2]:
df = pd.read_excel(os.path.join("..","Data","SMC_DATA_clean.xlsx"))

### Number of participants

In [4]:
len(df['ParticipantID'].unique())

576

In [29]:
df[['SEMESTER','ParticipantID']].groupby('SEMESTER').count()

             ParticipantID
SEMESTER
Fall 2020              368
Fall 2021              421
Fall 2022              452
Spring 2021            482
Spring 2022            483
Spring 2023            401

In [30]:
df.groupby('SEMESTER')[['ParticipantID']].nunique()

             ParticipantID
SEMESTER
Fall 2020               78
Fall 2021               88
Fall 2022               99
Spring 2021            102
Spring 2022            103
Spring 2023            106

### Number of records

In [5]:
len(df)

2607

In [9]:
survey_cols = [c for c in df.columns if c.endswith('total')]

In [31]:
for col in survey_cols:
    df_tmp = df.copy()
    df_tmp = df_tmp[df_tmp[col] > 0]
    print(df_tmp[[col]].count())

BSMAS_total    2606
dtype: int64
PSS_total    1746
dtype: int64
ADTS_ANX_total    2206
dtype: int64
ADTS_P_total    2206
dtype: int64
ADTS_N_total    2206
dtype: int64
RSES_total    850
dtype: int64
SWLS_total    850
dtype: int64
PSOC_total    850
dtype: int64
LONE_total    850
dtype: int64
SoPA_total    401
dtype: int64
SoNA_total    401
dtype: int64
ChQ_total    401
dtype: int64

In [36]:
for col in survey_cols:
    df_tmp = df.copy()
    df_tmp = df_tmp[~df_tmp[col].isnull() & (df_tmp[col] > 0)]
    print(" " + col)
    print(df_tmp['SEMESTER'].unique())
    print()

 BSMAS_total
['Fall 2020' 'Fall 2021' 'Fall 2022' 'Spring 2021' 'Spring 2022'
 'Spring 2023']

 PSS_total
['Fall 2020' 'Fall 2021' 'Spring 2021' 'Spring 2022']

 ADTS_ANX_total
['Fall 2020' 'Fall 2021' 'Fall 2022' 'Spring 2021' 'Spring 2022']

 ADTS_P_total
['Fall 2020' 'Fall 2021' 'Fall 2022' 'Spring 2021' 'Spring 2022']

 ADTS_N_total
['Fall 2020' 'Fall 2021' 'Fall 2022' 'Spring 2021' 'Spring 2022']

 RSES_total
['Fall 2020' 'Spring 2021']

 SWLS_total
['Fall 2020' 'Spring 2021']

 PSOC_total
['Fall 2020' 'Spring 2021']

 LONE_total
['Fall 2020' 'Spring 2021']

 SoPA_total
['Spring 2023']

 SoNA_total
['Spring 2023']

 ChQ_total
['Spring 2023']

### Demographics

In [20]:
df['DEMO_gender'].value_counts()

female                                                     291
male                                                       193
nonbinary                                                   14
Genderfluid                                                  1
Prefer not to say                                            1
any pronouns                                                 1
She/They is preferred. Somewhere between NB and Female.      1
gender fluid, mostly female presenting                       1
prefer not to say                                            1
Gender Queer                                                 1
Transfeminine                                                1
Name: DEMO_gender, dtype: int64